/* Bring in font from Google Fonts API including weight 200-900 */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=optional");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=optional");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #14224a;
} */

a {
  color: inherit;
  text-decoration: none;
}
